<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="VisualMonkey.SQLContention.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="VisualMonkey.SQLContention.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<userSettings>
		<VisualMonkey.SQLContention.My.MySettings>
			<setting name="ServerList" serializeAs="String">
				<value/>
			</setting>
			<setting name="RefreshFrequency" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="NotifyOnBlock" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="NotifyOnClear" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="MinimumLockAge" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="RespectMinimumLockAge" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="UserNotifiedAboutTray" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NotifyOnLockAging" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="NotifyOnLockAging_Age" serializeAs="String">
				<value>15</value>
			</setting>
			<setting name="NotifyOnLockAgingReoccuring" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="NotifyOnLockAgainReoccuringAge" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="LockHistoryDepth" serializeAs="String">
				<value>1000</value>
			</setting>
		</VisualMonkey.SQLContention.My.MySettings>
	</userSettings>
	<applicationSettings>
		<VisualMonkey.SQLContention.My.MySettings>
			<setting name="MaximumQueueDepth" serializeAs="String">
				<value>10</value>
			</setting>
		</VisualMonkey.SQLContention.My.MySettings>
	</applicationSettings>
	<startup/></configuration>
